<!-- Template: Footer -->
<section class="contact" id="contactSection">
    <h2 class="title-section">Contact Me</h2>
    <hr>
    <aside class="row-2">
      <div class="left">
        <form class="" action="index.html" method="post">
          <input type="text" name="name" placeholder="Name"><br>
          <input type="text" name="email" placeholder="Email"><br>
          <input type="text" name="subject" placeholder="Subject"><br>
          <input type="text" name="message" placeholder="Message"><br>
          <button type="button" onclick="alert('Hello World!')">Submit</button>
        </form>
      </div>
      <div class="right">
          <h3>Federico Sosa</h3>
          <h4>Web Developer</h4>
          <ul>
            <li><b>Phone:</b><br>+598 95683920</li>
            <li><b>Email:</b><br>fdsosa.35@gmail.com</li>
          </ul>
          <hr>
          <div class="social-bar-alt">
            <include src="social-networks.html"></include>
          </div>
      </div>
    </aside>
  </section>