/* HEADER SECTION */
.header-repos .menu-mobile .links-mob {
  background: #181739f0;
  transition: height .5s ease; }
  .header-repos .menu-mobile .links-mob ul {
    width: 70%;
    height: 100%;
    margin: auto; }
    .header-repos .menu-mobile .links-mob ul li {
      width: 100%;
      font-size: 20px;
      margin: 0.3em 0;
      padding: 0.3em 0;
      border-radius: 5px;
      box-sizing: border-box; }
      .header-repos .menu-mobile .links-mob ul li:hover {
        background-color: #182153; }
      .header-repos .menu-mobile .links-mob ul li a {
        padding: 0; }

header {
  position: absolute; }
  header .title {
    font-size: 32px;
    padding-left: 1em;
    justify-content: flex-start; }
  header .menu-mobile {
    display: flex;
    height: 13vh;
    align-items: center;
    justify-content: flex-end; }
    header .menu-mobile .bg-bar {
      width: 60%;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 1em;
      transition: background-color .6s ease; }
      header .menu-mobile .bg-bar:hover {
        cursor: pointer; }
    header .menu-mobile i {
      margin: 0 1em;
      display: flex;
      font-size: 28px;
      color: #182153; }
    header .menu-mobile .bar-inactive {
      background-color: white; }
    header .menu-mobile .bar-active {
      background-color: #182153; }
    header .menu-mobile .links-mob {
      position: absolute;
      top: 13vh;
      width: 100%;
      background: #fff;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      transition: opacity .5s ease, height .5s ease; }
      header .menu-mobile .links-mob ul {
        width: 70%;
        height: 100%;
        margin: auto; }
        header .menu-mobile .links-mob ul li {
          width: 100%;
          font-size: 20px;
          margin: 0.3em 0;
          padding: 0.3em 0;
          box-sizing: border-box; }
          header .menu-mobile .links-mob ul li:hover {
            background-color: #DCE6EF; }
          header .menu-mobile .links-mob ul li a {
            padding: 0; }
    header .menu-mobile .menu-hidden {
      opacity: 0;
      height: 0; }
    header .menu-mobile .menu-visible {
      opacity: 1;
      height: 30vh; }
  header .links {
    display: none; }

/* PROFILE SECTION */
.background-pic {
  height: 120vh; }
  .background-pic .profile {
    flex-direction: column;
    height: 120vh;
    width: 80%;
    padding: 5% 0; }
    .background-pic .profile .profile-pic, .background-pic .profile .profile-info {
      display: flex;
      width: 400px;
      min-width: 250px;
      max-width: 400px;
      min-height: 250px;
      max-height: 400px; }
    .background-pic .profile .profile-info {
      background-color: #fff;
      align-items: center; }
      .background-pic .profile .profile-info .content-info {
        padding-left: 45px !important; }

/* SOCIAL BAR SECTION */
.social-bar-mobile {
  display: flex;
  width: 400px;
  height: 8vh;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  margin: auto;
  background-color: #182153; }
  .social-bar-mobile ul {
    display: flex; }
    .social-bar-mobile ul li {
      margin: 20px 10px; }
      .social-bar-mobile ul li a {
        padding: 5px 15px;
        font-size: 22px;
        color: #fff; }

.social-bar {
  display: none; }

/* PRESENTATION SECTION */
.text-present {
  text-align: center;
  padding: 15% 10%;
  font-family: 'Nunito', sans-serif; }
  .text-present p {
    font-size: 17px; }

/* SKILLS SECTION */
table {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px; }

/* CONTACT SECTION */
.contact .row-2 {
  flex-direction: column;
  justify-content: center; }
  .contact .row-2 .left, .contact .row-2 .right {
    padding: 20px;
    text-align: center; }
  .contact .row-2 .left form {
    text-align: center; }
  .contact .row-2 .left input, .contact .row-2 .left button {
    width: 80% !important; }
  .contact .row-2 .right h3 {
    font-size: 30px;
    margin-top: 1em; }
  .contact .row-2 .right h4 {
    font-size: 23px; }
  .contact .row-2 .right ul {
    margin: 2em 0;
    font-size: 18px; }
  .contact .row-2 .right hr {
    width: 100%; }

.content .repos {
  grid-template-columns: 1fr;
  grid-row-gap: 2em; }
