/* PROFILE SECTION */
.background-pic{
  
    .profile{
  
        .profile-pic, .profile-info{
            width: 300px;
            min-width: 250px;
            max-width: 300px;
            min-height: 250px;
            max-height: 300px;
        }
    }
}      


.social-bar-mobile{
    width: 300px;
    min-width: 250px;
    margin: 0;
}    