@import 'variables';
@import 'mixins';

/* BODY TAGS */
html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: arial;
}

img{
  margin: 0;
  display: block;
}

h1, h2, h3, h4, li, p, th, td, a{
  color: $primary-color;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
}

/* HEADER SECTION */
.header-index{
  background: $bg-color-1;
}

.header-repos{
  background: $primary-color;

  nav{

    .title{

      h3{
        color: white;
      }
    }

    .menu-mobile{

      ul{

        li{

          a{
            color:white;
          }
        }
      }
    }

    .links{

      a{
        color:white;

        &:hover{
          background-color: $primary-color-detail;
        }
      }
    }
  }
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13vh;
  z-index: 10;

  .menu-mobile{
    display: none;
  }

  h3{
    @include font-type(('Assistant', sans-serif), (27px));
    margin: 0;
  }

  .links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;

    a{
      display: inline-block;
      @include font-type($principal-font, 16px);
      text-transform: uppercase;
      box-sizing: border-box;
      padding: 20px 30px;
      border-radius: 5%;

      &:hover{
        background-color: $bg-color-2;
      }
    }
  }

  nav{
    display: flex;
    align-items: center;
  }

  .title{
    @include size(flex, 100%, 13vh, flex-start, center);
    padding-left: 30px;
    box-sizing: border-box;
  }
}

/* PROFILE SECTION */

.background-pic{
  @include size(flex, 100%, 90vh, center, stretch);
  background-image: url(../computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 13vh;
  overflow: hidden;
  position: relative;
}


.profile{
  @include size(flex, 60%, 100%, center, flex-end); 
  box-sizing: border-box;
  margin: auto;
  position: absolute;

  ul{
    @include font-type($principal-font, 15px);
  }

  li{
    margin-bottom: 25px;
  }

  .profile-pic,  .profile-info{
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    flex-grow: 1;
    min-width: 500px;
    min-height: 500px;
  }

  .profile-info{
    width: 100%;
  }

  .profile-pic{
    img{
    }

    .pic{
      width: 100%;
      filter: grayscale(100%);
    }
  }

  .profile-info{
    background-color: $bg-color-1;
    display: flex;
    align-items: center;

    .content-info{
      padding-left: 70px;
    }

    h1{
      @include font-type(('Assistant', sans-serif), 29px);
      margin-bottom: 5px;
    }

    h4{
      @include font-type(('Roboto', sans-serif), 14px);
      text-transform: uppercase;
      margin-top: 0;
    }
  }
}

/* SOCIAL BAR SECTION */
.social-bar{
  @include size(flex, 100%, 8vh, center, center); 
  margin: auto;
  background-color: $primary-color;

  ul{
    display: flex;
    li{
      margin: 20px 10px;
      a{
        padding: 5px 15px;
        font-size: 22px;
        color: $bg-color-1;
      }
    }
  }
}

.social-bar-mobile{
  display: none;
  width: 100%;
}

/* PRESENTATION SECTION */
.presentation{
  background-color: $bg-color-2;
}

.text-present{
  text-align: center;
  padding: 100px 32%;
  font-family: $principal-font;

  p{
    font-size: 20px;
  }
}

/* SKILLS SECTION */
.skills{
  width: 100%;
  background-color: $bg-color-1;
  text-align: center;
  font-family: $principal-font;
}

.line_skills{
  display: block;
  width: 100%;
  border-style: inset;
  border-width: 0.5px;
}

table{
  width: 60%;
  margin: 40px auto;
  
  th, td{
    padding: 17px;
  }

  th{
    height: 30px;
    text-transform: uppercase;
  }

  td{
    width: 10%;
  }

  .prog-bar-cont{
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    border-radius: 50px;
    box-sizing: border-box;
    
    .prog-bar{
      width: 100%;
      height: 100%;
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
    
       .background{
          width: 100%;
          height: 100%;
          border-radius: 50px;
          background: $primary-color;
         -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
         transition: all 2s;
         -webkit-transition: all 3s;
      }
    }
  }
}

.progBar-animate-git{
  -webkit-clip-path: inset(0 30% 0 0) !important;
  clip-path: inset(0 30% 0 0) !important;
}

.progBar-animate-css{
  -webkit-clip-path: inset(0 20% 0 0) !important;
  clip-path: inset(0 20% 0 0) !important;
}

.progBar-animate-html{
  -webkit-clip-path: inset(0 25% 0 0) !important;
  clip-path: inset(0 25% 0 0) !important;
}

.progBar-animate-js{
  -webkit-clip-path: inset(0 40% 0 0) !important;
  clip-path: inset(0 40% 0 0) !important;
}

.progBar-animate-php{
  -webkit-clip-path: inset(0 50% 0 0) !important;
  clip-path: inset(0 50% 0 0) !important;
}

.progBar-animate-mysql{
  -webkit-clip-path: inset(0 40% 0 0) !important;
  clip-path: inset(0 40% 0 0) !important;
}

.progBar-animate-english{
  -webkit-clip-path: inset(0 20% 0 0) !important;
  clip-path: inset(0 20% 0 0) !important;
}

/* CONTACT SECTION */
.contact{
  @include size(flex, 100%, auto, center, stretch); 
  flex-direction: column;
  background-color: $bg-color-2;

  .title-section{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Sarabun', sans-serif;
  }

  hr{
    display: block;
    margin: 0;
    width: 100%;
    border: solid 0.8px $bg-color-1;
  }

  .row-2{
    display: flex;
    flex-direction: row;

    .left, .right{
      background-color: $bg-color-2;
      flex: 1;
      flex-grow: 1;
    }

    .left{
      padding: 50px;
      box-sizing: border-box;
      border-right: solid 0.8px $bg-color-1;

      form{
        text-align: right;

        button{
          width: 60%;
          padding: 15px 30px;
          border: none;
          background-color: $primary-color;
          color: $bg-color-1;
          box-sizing: border-box;
          font-family: $principal-font;

          &:hover{
            cursor: pointer;
          }
        }

        input[type=text] {
          width: 60%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          font-family: $principal-font;

          &:hover{
            background-color: #DCE6EF;
          }
        }
      }
    }

    .right{
      padding: 50px;
      box-sizing: border-box;

      h3{
        @include font-type(('Assistant', sans-serif), 23px);
        margin: 0 0 5px 0;
        font-weight: 300;
      }

      h4{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
      }

      ul{
        @include font-type(('Hind', sans-serif), 14px);
        margin: 20px 0 60px 0;

        li{
          margin-top: 1em;
        }
      }

      hr{
        border: 0.6px inset #000;
        margin: 0;
        width: 60%;
      }

      .social-bar-alt{

        ul{
          margin: 20 0 0 5px;

          li{
            display: inline-block;
            font-size: 17px;
            margin-right: 1.5em;
            margin-top: 0;    
            
            i{
              color: #000;
            }
          }
        }
      }
    }
  }
}

/* CONTENT SECTION */
.content{
  width: 80%;
  margin: auto;
  margin-top: 18vh;
  margin-bottom: 18vh;
  text-align: center;

  h1{
    font-family: 'Sarabun', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }

  .repos-placeholder{
    width: 75%;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #cfcfcf;
    font-size: 20px;
    font-family: "Hind", sans-serif;
  }

  .repos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 2em;

    .repo{
      background-color: $bg-color-2;
      border: 2px solid rgb(228, 223, 223);
      border-radius: 5px;
      text-align: left;
      padding: 0.5em 2.5em;
      transition: all 0.2s ease;

      &:hover{
        background-color: rgb(185, 185, 185);
        transform: scale(1.1);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
        z-index: 1;
      }

        h4{
          color: $primary-color;

          a{
            color: $primary-color;
          }
        }

        h3{
          color: $primary-color;
        }
      }
  }
}

/* HELPERS CLASSES */
.d-none{
  display: none !important;
}

/* RESPONSIVE  */
@media screen and (max-width: 1000px) {
  .profile, .social-bar{
    width: 80%;
  }
}